// descriptive variables
$grey:#777;
$turquoise:#58e1c1;
$white:#fff;

$mayablue:#51ddfc;
$froly:#e4757a;
$lilacbush:#927bc1;
$emerald:#63cc82;
$coral:#fd7856;

//button colors
$names:(
    'default':$mayablue,
    'error':$froly,
    'info':$lilacbush,
    'success':$emerald,
    'warning':$coral,
);


// media querry breakpoints

$break-m:768px;

// theme colors
$themes:(
    '1':#927bc1,
    '2':#fd7856,
    '3':#deb2ee,
    '4':#7ee6fd,
    '5':#88d9a0,
    '6':#4da2bb,
    '7':#ec9fa3,
    '8':#fd9f85,
    '9':#e4757a,
    '10':#63cc82,
    '11':#51ddfc,
    '12':#80e8d1,
);





