/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    
    // ====new added====
    @include btn-bg($btn-bg);
  }

@each $btn, $color in $btn-bg{
  .#{btn}:hover{
    background-color:lighten($color,15%);
    transition:background-color 0.5s ease-in;
  }
}


  
  

  // ====loop solution====
  // @each $btn, $color in $btn-bg{
  //   .#{$btn}{
  //     background-color:$color;
  //   }
  // }

  // ====original code====
  // .default {
  //   background-color: $mayablue;
  // }
  
  // .error {
  //   background-color: $froly;
  // }
  
  // .info {
  //   background-color: $lilacbush;
  // }
  
  // .success {
  //   background-color: $emerald;
  // }
  
  // .warning {
  //   background-color: $coral;
  // }
  